* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body {

}

.app {
  background-image: url('./backgrounds/home.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 1s ease;
}

main {
  min-height: 100vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 30px;
  display: flex;
  justify-content: center;
}

.search-box .search-bar {
  display: block;
  width: 50%;
  padding: 10px 20px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 35px 35px 35px 35px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  transition: 0.5s ease;
  text-align: center;

}

.home-container {
  text-align: center;
  padding: 40px;
}

.home-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: white;
  text-shadow: 5px 5px rgba(50, 50, 70, 0.8);
  font-weight: 700;
}

.location-container .location {
  color: white;
  font-size: 35px;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  font-weight: 700;
}

.location-container .date {
  color: white;
  font-size: 22px;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.25rem;
}

.feels-like span {
  margin-right: 1rem;
  font-weight: 700;
}

.weather-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weather-container .temperature {
  position: relative;
  display: inline-block;
  color: white;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  font-size: 100px;
  font-weight: 700;
  box-shadow: 4px 6px rgba(0, 0, 0, 0.3);
  text-shadow: 4px 6px rgba(0, 0, 0, 0.5);
}

.weather-container .weather {
  color: white;
  font-size: 30px;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-container img {
  width: 50px;
  margin-right: 1rem;
}

.forecast-body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1275px;
}

.forecast-container {
  display: flex;
  width: 100%;
  height: 250px;
  justify-content: center;
  align-items: flex-start;
}

.forecast-day {
  color: black;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  background: rgba(255, 255, 255, 0.5);
  width: 150px;
  margin: 0 5px;
  border-radius: 16px;
  box-shadow: 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.forecast-day span {
  font-weight: 700;
}

.forecast-day .temp {
  margin-left: 5px;
}

#forecast-date {
  font-size: 25px;
  font-weight: 700;
}

.forecast-day img {
  height: 100px;
}

.forecast-day:hover {
  background: rgba(255, 255, 255, 0.6);
}

.forecast-day:active {
  position: relative;
  top: 2px;
}

.forecast-details {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-top: 10px;
  position: relative;
  border-radius: 16px;
  box-shadow: 4px 6px rgba(0, 0, 0, 0.3);
}

.forecast-details > div {
  margin: 3px;
}

.forecast-details button {
  width: 50px;
  padding: 5px;
}

.sunrise-sunset, .wind-forecast {
  display: flex;
  align-items: center;
}

.temp-wind-forecast, .sun-forecast {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.temp-wind-forecast > div, .sun-forecast > div {
  margin: 10px;
}

.temp-wind-forecast span, .sun-forecast span {
  font-weight: 700;
  margin-left: 15px;
}

#dark-wind{
  width: 30px;
}

.feels-like-forecast {
  display: flex;
  flex-direction: column;
  height: 200px;
  text-align: center;
}

.feels-like-forecast h4 {
  margin-bottom: 15px;
  font-size: 20px;
}

.feels-like-forecast > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
}

.feels-like-day {
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 16px;
  box-shadow: 4px 6px rgba(0, 0, 0, 0.3);
}

.feels-like-temp {
  font-size: 50px;
}

.close {
  position: absolute;
  right: 10px;
  top: -20px;
  font-size: 60px;
  font-weight: 300;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

/* classes for background image */
.clear-day {
  background-image: url('./backgrounds/clear-day.jpg');
}
.clear-night {
  background-image: url('./backgrounds/clear-night.jpg');
  background-position: center;
}
.hazy-day {
  background-image: url('./backgrounds/hazy-day.jpg');
}
.hazy-night {
  background-image: url('./backgrounds/hazy-night.jpg');
}
.overcast-day {
  background-image: url('./backgrounds/overcast-day.jpg');
}
.overcast-night {
  background-image: url('./backgrounds/overcast-night.jpg');
}
.part-cloudy-day {
  background-image: url('./backgrounds/part-cloudy-day.jpg');
  background-position: top;
}
.part-cloudy-night {
  background-image: url('./backgrounds/part-cloudy-night.jpg');
}
.rain-day {
  background-image: url('./backgrounds/rain-day.jpg');
}
.rain-night {
  background-image: url('./backgrounds/rain-night.jpg');
  background-position: center;
}
.snow-day {
  background-image: url('./backgrounds/snow-day.jpg');
}
.snow-night {
  background-image: url('./backgrounds/snow-night.jpg');
}
.storm-day {
  background-image: url('./backgrounds/storm-day.jpg');
}
.storm-night {
  background-image: url('./backgrounds/storm-night.jpg');
}

