* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body {

}

.app {
  background-image: url('./backgrounds/home.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 1s ease;
}

main {
  min-height: 100vh;
  /* background-image: linear-gradient(to bottom rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75)); */
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 30px;
  display: flex;
  justify-content: center;
}

.search-box .search-bar {
  display: block;
  width: 50%;
  padding: 10px 20px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 35px 35px 35px 35px;
  /* margin-top: 25px; */
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  transition: 0.5s ease;
}

.location-container .location {
  color: white;
  font-size: 35px;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  font-weight: 700;
}

.location-container .date {
  color: white;
  font-size: 22px;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.25rem;
}

.feels-like span {
  margin-right: 1rem;
  font-weight: 700;
}

.weather-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 0.2rem solid blue; */
}

.weather-container .temperature {
  position: relative;
  display: inline-block;
  color: white;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  font-size: 100px;
  font-weight: 700;
  box-shadow: 4px 6px rgba(0, 0, 0, 0.3);
  text-shadow: 4px 6px rgba(0, 0, 0, 0.5);
}

.weather-container .weather {
  color: white;
  font-size: 30px;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 0.2rem solid blue; */
}

.weather-container img {
  width: 50px;
  margin-right: 1rem;
}

.forecast-container {
  display: flex;
  width: 100%;
  height: 250px;
  justify-content: center;
  align-items: flex-start;
}

.forecast-day {
  color: white;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.forecast-day img {
  height: 100px;
}

/* classes for background image */
.clear-day {
  background-image: url('./backgrounds/clear-day.jpg');
}
.clear-night {
  background-image: url('./backgrounds/clear-night.jpg');
  background-position: center;
}
.hazy-day {
  background-image: url('./backgrounds/hazy-day.jpg');
}
.hazy-night {
  background-image: url('./backgrounds/hazy-night.jpg');
}
.overcast-day {
  background-image: url('./backgrounds/overcast-day.jpg');
}
.overcast-night {
  background-image: url('./backgrounds/overcast-night.jpg');
}
.part-cloudy-day {
  background-image: url('./backgrounds/part-cloudy-day.jpg');
  background-position: top;
}
.part-cloudy-night {
  background-image: url('./backgrounds/part-cloudy-night.jpg');
}
.rain-day {
  background-image: url('./backgrounds/rain-day.jpg');
}
.rain-night {
  background-image: url('./backgrounds/rain-night.jpg');
  background-position: center;
}
.snow-day {
  background-image: url('./backgrounds/snow-day.jpg');
}
.snow-night {
  background-image: url('./backgrounds/snow-night.jpg');
}
.storm-day {
  background-image: url('./backgrounds/storm-day.jpg');
}
.storm-night {
  background-image: url('./backgrounds/storm-night.jpg');
}

